  <!--=== page-title-section start ===-->
  <section ng- controller="photography" class="title-hero-bg shop-cover-bg" data-stellar-background-ratio="0.2">
    <div class="container">
      <div class="page-title text-center">
        <h1>Gallery</h1>
      </div>
    </div>
  </section>
  <!--=== page-title-section end ===-->

  <!--=== Portfolio Start ======-->
  <section class="dark-bg pb-0 pt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="portfolio-container text-center">
          <ul id="portfolio-grid" class="four-column hover-two">
            <li ng-repeat="item in products | startFrom:(currentPage - 1) * pageSize| limitTo: pageSize" class="portfolio-item portfolio-masonry-item">
              <div class="product-wrap"> <img ng-src="{{item.frontImage}}" alt="">
                <div class="product-caption">
                  <div class="product-description text-center">
                    <div class="product-description-wrap">
                      <div class="product-title"> <a href="{{item.frontImage}}" class="alpha-lightbox"><i class="icofont icofont-plus font-40px"></i></a> </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--=== /.portfolio ===-->
            </li>
            <div class="row mt-100">
              <ul uib-pagination total-items="products.length" ng-model="currentPage" items-per-page="pageSize"></ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--=== Portfolio End ======-->